<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="login.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <title>Face Off</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="#" class="brand-logo">Face Off</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a href="/whoAmI">who am i?</a></li>
        <li><a href="/whoAreYou">who are you</a></li>
        <li><a href="/whosTheStar">who the star</a></li>
      </ul>
    </div>
  </nav>
  <div id="main-content" class="grey lighten-4">
    <h1>HELLO WORLD!</h1>
  </div>
</body>
</html>