body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-wrapper {
    display: flex;
}

#nav-mobile > li > a {
  color: rgba(255,255,255,.5);
}

#nav-mobile > li:not(.active) > a:hover {
  background-color: rgba(97,97,97, .3);
  color: rgba(255,255,255,.8);
}

.active > a {
    color: #fff !important;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: auto;
}